{% extends 'mainapp_ru/immigration.html' %}
{% load staticfiles %}

{% block content %}
<h1 class="heading">{{in_home_ru.h1}}</h1>
<article class="content">
  <div class="content-inner">
    <p>{{in_home_ru.paragraph1}}</p>
    <ul class="content-ul">
      <li>{{in_home_ru.paragraph2}}</li>
      <li>{{in_home_ru.paragraph3}}</li>
      <li>{{in_home_ru.paragraph4}}</li>
      <li>{{in_home_ru.paragraph5}}</li>
      <li>{{in_home_ru.paragraph6}}</li>
      <li>{{in_home_ru.paragraph7}}</li>
      <li>{{in_home_ru.paragraph8}}</li>
      <li>{{in_home_ru.paragraph9}}</li>
    </ul>
    <p>{{in_home_ru.paragraph10}}</p>
    <p>{{in_home_ru.paragraph11}}</p>
  </div>
  <br>
</article>
{% endblock %}
