{% load staticfiles %}
<header class="header">
    Contacts
    <div class="search-info">search</div>
    <span class='lang-change'><a href="javascript:void(0);" onClick="javascript:getLang_ru();">Ru</a></span>
    <span class='lang-change'><a href="javascript:void(0);" onClick="javascript:getLang_en();">En</a></span>
</header>
<div class="banner">banner</div>
<nav>
  <ul class="menu">
    <li><a href="{% url 'mainapp_en:home' %}">Education</a></li>
    <li><a href="{% url 'mainapp_en:immigration' %}">Immigration</a>
      <ul>
        <li><a href="#">For B</a></li>
        <li><a href="#">For P</a></li>
      </ul>
    </li>
    <li><a href="{% url 'mainapp_en:visit' %}">Visit to Canada</a></li>
    <li><a href="{% url 'mainapp_en:life' %}">Life in Canada</a></li>
    <li><a href="{% url 'mainapp_en:about' %}">About us</a></li>
    <li><a href="{% url 'mainapp_en:form' %}">Client Assessment Form</a></li>
  </ul>
</nav>
