{% load staticfiles %}
<header class="header">
    Contacts
    <div class="search-info">search</div>
    <span class='lang-change'><a href="javascript:void(0);" onClick="javascript:getLang_ru();">Ru</a></span>
    <span class='lang-change'><a href="javascript:void(0);" onClick="javascript:getLang_en();">En</a></span>
</header>
<div class="banner">banner</div>
<nav>
  <ul class="menu">
    <li><a href="{% url 'mainapp_en:home' %}" class="{% if 'education' in request.get_full_path %}active{% endif %} %}">Education</a></li>
    <li><a href="{% url 'mainapp_en:immigration' %}" class="{% if 'immigration' in request.get_full_path %}active{% endif %}">Immigration</a></li>
    <li><a href="{% url 'mainapp_en:visit' %}" class="{% if 'visit' in request.get_full_path %}active{% endif %}">Visit to Canada</a></li>
    <li><a href="{% url 'mainapp_en:life' %}" class="{% if 'life' in request.get_full_path %}active{% endif %}">Life in Canada</a></li>
    <li><a href="{% url 'mainapp_en:about' %}" class="{% if 'about' in request.get_full_path %}active{% endif %}">About us</a></li>
    <li><a href="{% url 'mainapp_en:form'  %}" class="{% if 'form' in request.get_full_path %}active{% endif %}">Client Assessment Form</a></li>
  </ul>
</nav>
