{% extends 'mainapp_ru/base.html' %}
{% load staticfiles %}

{% block title %}
  {{title}}
{% endblock %}

{% block content %}
  <h1 class="heading">{{home_ru.h1}}</h1>
  <article class="content">
  <p class="content-inner">{% autoescape off %}{{home_ru.paragraph1}}{% endautoescape %}</p>
  <p class="content-inner">{{home_ru.paragraph2}}</p>
</article>
  <div class="request-info">
    <a href="{% url 'mainapp_ru:education_form' %}">Отправить заявку на образование в Канаде.</a>
  </div>
{% endblock %}
