{% load staticfiles %}
<header class="header">
    <!-- Контакты -->
    <!-- <div class="search-info">Поиск</div> -->
    <span class="lang last {% if '/ru/' in request.get_full_path %}active_lang{% endif %}"><a href="javascript:void(0);" onClick="javascript:getLang_ru();">Ru</a></span>
    <span class="lang first {% if '/en/' in request.get_full_path %}active_lang{% endif %}"><a href="javascript:void(0);" onClick="javascript:getLang_en();">En</a></span>
</header>
<div class="banner"></div>
<nav>
  <ul class="menu">
    <li><a href="{% url 'mainapp_ru:home' %}" class="{% if 'education' in request.get_full_path %}active{% endif %} %}">Обучение</a></li>
    <li><a href="{% url 'mainapp_ru:immigration' %}" class="{% if 'immigration' in request.get_full_path %}active{% endif %}">Иммиграция</a></li>
    <li><a href="{% url 'mainapp_ru:life' %}" class="{% if 'life' in request.get_full_path %}active{% endif %}">Жизнь в Канаде</a></li>
    <li><a href="{% url 'mainapp_ru:about' %}" class="{% if 'about' in request.get_full_path %}active{% endif %}">Информация о проекте</a></li>
    <li><a href="{% url 'mainapp_ru:forms'  %}" class="{% if 'forms' in request.get_full_path %}active{% endif %}">Формы</a></li>
    <form class="menu_search" action="{% url 'mainapp_ru:search_view' %}" method="GET">
      <p><input type="search" name="q" placeholder="Поиск">
        <input type="submit" value="Поиск"></p>
    </form>
  </ul>
</nav>
