* {
    padding: 0;
    margin: 0;
    background-color: #f5f5f5;
    font-family:  Verdana, Tahoma, Arial, sans-serif;
    font-size: 0.99em;
    color: #222;
}
html, body {
    height: 100%;
}

.header {
    width: auto;
    /* height: 2em;
    padding: 0.5em; */
}
.search-info {
    #float:right;
    display: inline-block;
}

.lang {
    display: block;
    margin-right: .3em;
    position: relative;
    top: 2em;
}

.first a{
    text-decoration: none;
    float: right;
    color: #f3f3f3;
    border-right: solid 1px #f3f3f3;
    background-color: rgba(0,0,0,0);
    padding-right: .3em;
}
.last a{
    text-decoration: none;
    float: right;
    color: #f3f3f3;
    background-color: rgba(0,0,0,0);
    padding-left: .3em;

}
.first a:hover{
    text-decoration: none;
    float: right;
    color: #b44;
    background-color: rgba(0,0,0,0);
}
.last a:hover{
    text-decoration: none;
    float: right;
    color: #b44;
    background-color: rgba(0,0,0,0);
}
.active_lang a{
    text-shadow: 0 0 4px white;
}
.banner {
    background-color: #aaa;
    /* width: auto; */
    height: 16em;
    /* background: transparent; */
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 32%,rgba(0,0,0,0) 97%,rgba(245,245,245,0.9) 99%,rgba(245,245,245,1) 100%), url('../img/Canada-Alberta-Banff-national-Park-winter-forest-river-stream-snow_1920x12004.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    padding-top:4em;
}
nav {
    margin: 0 0 1em 0;
    width: 100%;
    display: inline-block;
}

nav ul{
    float:right;
    padding-right: 8%;

}

nav ul li {
    margin: .6em -7px 0 0;
    display:inline-block;
    }

/* стилизуем ссылки */
nav ul li a {
    color: #8c8c8c;
	font-size: .8em;
	font-weight: 700;
	text-align: right;
	text-transform: uppercase;
	text-decoration: none;
	padding: 10px 13px;
}
nav ul li .active {
	color: #922;
	font-weight: 700;
	border-bottom: 3px solid #922;
}

nav a:hover {
    color: #922;
	font-weight: 700;
	border-bottom: 2px solid #922;
}
nav ul li a:active {
	color: #8c8c8c;
	font-weight: 700;
	border-bottom: 3px solid #8c8c8c;
}

.clr {
    clear: both;
}
.left-side{
    width: 30%;
    background-color: #000;
    display: block;
    float: left;

    /* border: 2px solid #000; */
}
.left-side ul {
    list-style: none;
}
.left-side ul li a{
    text-decoration: none;
}
.right-side{
    float:right;
    width: 70%;
}
.content-box {
    margin-left: 15%;
    margin-right: 15%;
    float: left;
}
.content h1 {
    text-indent: 2em;
    margin-bottom: 1.3em;
    padding-top: 1em;
}

.content p{
    text-indent: 2em;
    text-align: justify;
    padding: 2%;
    background-color: rgba(60,0,0,0.5);
}
span.review {
    color: #8c8c8c;
	font-size: .85em;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	padding: .7em;
    display: block;
    background-color: #ddd;

}
.review-content {
    color: #444;
	font-size: .75em;
    margin:0 15em;
    padding: 0.5em 1em 3em 1em;
    text-align: justify;
    box-sizing: border-box;
    min-height: 100%;

}
.wrapper{
    position: relative;
    min-height: 100%
}

.form-h1{
    margin-bottom: .4em;
    text-align: center;
    font-size: 1.7em;
    font-weight: 700;

}
hr {
    height: 2px;
    border: 0;
    box-shadow: 0px 2px 2px -2px #aaa inset;
}

.form-p{
    margin-top: .7em;
    margin-bottom: 2em;
    text-align: center;
    text-transform:uppercase;
}

form {
    min-height: 100%;
    padding-bottom: 4em;
}
form label{
    display:inline-block;
    text-indent: .7em;
    margin: .2em 0;
}

.radio li {
    display: inline;
    margin-right:.5em;
    margin-left: .5em;
}

form input[type=text]:valid{
    border: 1px solid #3b3;
    border-radius: 3px;
    background: #fff;
    outline: none;
    height: 1.5em;
    width: 99%;
    font-family: Tahoma;
    padding: .2em 0;
    margin: .3em 0;
    text-indent: 1em;
}

form input[type=text]:invalid{
    border: 1px solid #b33;
    border-radius: 3px;
    background: #fff;
    outline: none;
    height: 1.5em;
    width: 99%;
    font-family: Tahoma;
    padding: .2em 0;
    margin: .3em 0;
    text-indent: 1em;
}
form input[type=text]:placeholder-shown{
    border: 1px solid #ccc;
    border-radius: 3px;
    background: #fff;
    outline: none;
    height: 1.5em;
    width: 99%;
    font-family: Tahoma;
    padding: .2em 0;
    margin: .3em 0;
    text-indent: 1em;
}
form input[type=tel]:valid{
    border: 1px solid #3b3;
    border-radius: 3px;
    background: #fff;
    outline: none;
    height: 1.5em;
    width: 99%;
    font-family: Tahoma;
    padding: .2em 0;
    margin: .3em 0;
    text-indent: 1em;
}
form input[type=tel]:invalid{
    border: 1px solid #b33;
    border-radius: 3px;
    background: #fff;
    outline: none;
    height: 1.5em;
    width: 99%;
    font-family: Tahoma;
    padding: .2em 0;
    margin: .3em 0;
    text-indent: 1em;
}
form input[type=tel]:placeholder-shown{
    border: 1px solid #ccc;
    border-radius: 3px;
    background: #fff;
    outline: none;
    height: 1.5em;
    width: 99%;
    font-family: Tahoma;
    padding: .2em 0;
    margin: .3em 0;
    text-indent: 1em;
}

form ul li label{
    background: #f5f5f5;
    outline: none;

}
form textarea{
    border: .1em solid #3b3;
    border-radius: 3px;
    background: #fff;
    outline: none;
    height: 10em;
    width: 99%;
    font-family: Tahoma;
    padding: .2em 0;
    margin: .3em 0;
    text-indent: 1em;
    resize:none;
}
form textarea:invalid{
    border: .1em solid #b33;
    border-radius: 3px;
    background: #fff;
    outline: none;
    height: 10em;
    width: 99%;
    font-family: Tahoma;
    padding: .2em 0;
    margin: .3em 0;
    text-indent: 1em;
    resize:none;
}
form textarea:placeholder-shown{
    border: .1em solid #ccc;
    border-radius: 3px;
    background: #fff;
    outline: none;
    height: 10em;
    width: 99%;
    font-family: Tahoma;
    padding: .2em 0;
    margin: .3em 0;
    text-indent: 1em;
    resize:none;
}
form select{
    border: .1em solid #3b3;
    border-radius: 3px;
    background: #fff;
    outline: none;
    height: 1.9em;
    width: 99%;
    font-family: Tahoma;
    padding: .2em 0;
    margin: .3em 0;
    text-indent: .5em;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance:none;
    background-image: url(/static/img/select-arrow-open2.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
}
form select option{
    text-indent: 2em;
}
form button {
  font-weight: 700;
  color: white;
  text-decoration: none;
  padding: .8em 1em; #calc(.8em + 3px);
  border-radius: 3px;
  background: rgb(64,199,129);
  box-shadow: 0 -3px rgb(53,167,110) inset;
  transition: 0.2s;
}
form button:hover { background: rgb(53, 167, 110); }
form button:active {
  background: rgb(33,147,90);
  box-shadow: 0 3px rgb(33,147,90) inset;
}


button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner, select::-moz-focus-inner, select{
border: none;
outline: none;
}
input[type="radio"]:-moz-focusring,
select:-moz-focusring {
  color:transparent;
  text-shadow:0 0 0 #000;
}
select:-moz-focusring * {
  color:#222; /* your normal text color here */
  text-shadow:none;
}
div.footer {
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1em;
    border-top: 1px solid #666;
}
.footer p{
    background-color: #222;
    height:1em;
    text-align: right;
    padding: 1em;
    color: #777;
    font-size: .8em;

}
#720x1280 - mobile
