* {
    padding: 0;
    margin: 0;
    background-color: #f8f8f8;
    font-family:  Verdana, Tahoma, Arial, sans-serif;
    font-size: 0.99em;
    color: #555;
}
html, body {
    height: 100%;
}

.header {
    width: auto;
}
.search-info {
    #float:right;
    display: inline-block;
}

.lang {
    display: block;
    margin-right: .3em;
    position: relative;
    top: 2em;
    right: 1em;
}

.first a{
    text-decoration: none;
    float: right;
    color: #f3f3f3;
    border-right: 1px solid #f3f3f3;
    background-color: rgba(0,0,0,0);
    padding-right: .3em;
}
.first-word-bold{
    font-weight: bold;
}
.cust-table{
    width: 90%;
    margin: 0 auto;
    border-collapse: collapse;
}
.cust-table>tbody>tr>td{
    text-align: left;
    border: 3px solid #e7e7e7;
    padding:.4em;
    text-indent: 1em;
}
.cust-table>tbody>tr>td:last-child{
    text-indent: 0;
}
.last a{
    text-decoration: none;
    float: right;
    color: #f3f3f3;
    background-color: rgba(0,0,0,0);
    padding-left: .3em;

}
.lang a:hover{
    text-shadow: 1px 1px 1px white;
}

.active_lang a{
    text-shadow: 0 0 4px white;
}
.banner {
    background-color: #aaa;
    /* width: auto; */
    height: 10em;
    /* background: transparent; */
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 32%,rgba(0,0,0,0) 97%,rgba(245,245,245,0.9) 99%,rgba(245,245,245,1) 100%), url('../img/Canada-Alberta-Banff-national-Park_mirror.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    padding-top:4em;
}
nav {
    margin: 0 0 1em 0;
    width: 100%;
    display: inline-block;
}

nav ul{
    float:right;
    padding-right: 8%;

}

nav ul li {
    margin: .6em -7px 0 0;
    display:inline-block;
    }
form.menu_search{
    display: inline-block;
    margin: .6em -7px -3em .3em;
    font-size: .9em;
    color: #8c8c8c;
}
form.menu_search input[type=submit]{
    color: #8c8c8c;
    border: 2px solid #8c8c8c;
    border-radius: 3px;
    background: #fff;
    outline: none;
    width: 5em;
    height: 1.5em;
    box-shadow: 2px 2px rgb(200,200,200);
    cursor:pointer;
}
form.menu_search input[type=submit]:hover{
    color: #555;
    border: 2px solid #922;
}
form.menu_search input[type=submit]:active{
    border: 2px solid #922;
    box-shadow: none;
}
form.menu_search input[type=search]{
    border: 2px solid #8c8c8c;
    border-radius: 3px;
    background: #fff;
    outline: none;
    width: 8em;
    height: 1.5em;
    text-indent: .2em;
}
form.menu_search input[type=search]:focus{
    border: 2px solid #922;
}
.h4_links {
    margin-bottom: .2em;
}
.h4_links a {
    text-decoration: none;
    color: #8c8c8c;
}
.h4_links a:hover {
    text-decoration: underline;
    color: #922;
}
/* стилизуем ссылки */
nav ul li a {
    margin: 0 .3em;
	padding: 0 .5em;
    display: inline-block;
    font-weight: 700;
    font-size: .8em;
    color: #8c8c8c;
    line-height: 1;
    text-decoration: none;
    position:relative;
    text-align: right;
    text-transform: uppercase;
}
nav ul li a:focus{
    outline: none;
}
nav ul li a:after{
    background-color: #922;
    display:block;
    content: '';
    height: 2px;
    width: 0%;
    left: 50%;
    position: absolute;
    transition: width .3s ease-in-out;
    transform: translateX(-50%)
}
nav ul li .active:after {
    width:100%
}
nav ul li .active{
	color: #922;
}
nav a:hover:after {
    width: 100%;
}
nav a:hover{
    color: #922;
}

.clr {
    clear: both;
}
.clr_bottom {
    clear: both;
    padding-top: 5em;
}
.left-side{
    width: 35%;
    display: block;
    float: left;
    position: relative;
    top: 3.3em;
    margin-bottom: 2em;
}
.left-side ul {
    list-style: none;
}
.left-side ul li{
    padding-top: .7em;
}
.left-side ul li a{
    text-decoration: none;
    padding: .2em;
    border-radius: 5px;
    background-color: #f8f8f8;
}
.left-side ul li a:hover{
    transition-timing-function:linear;
    transition-duration: .3s;
    color: #922;
    background-color: #f8f8f8;
    border-bottom: 2px solid #922;
}
.right-side{
    float:right;
    width: 64%;
    padding-left: .7%;
    margin-bottom: 2em;
}
h1{
    text-indent: 2em;
    margin-top: 1.3em;
    margin-bottom: .5em;
}

.right-side p{
    text-indent: 1em;
}
a.this{
    text-decoration: none;
    border-bottom: 2px solid #555;
    font-size:1em;
    font-weight: bold;
}
a.this:hover{
    text-decoration: none;
    color: #922;
    border-bottom: 2px solid #922;
}
.content-box {
    margin-left: 12%;
    margin-right: 12%;
}

article.content{
    border: 3px solid #e7e7e7;
    border-radius: 7px;
}
article{
    margin-bottom: 1em;
}
.request-info>a{
    margin-left: 1em;
}
.content h1 {
    text-indent: 2em;
    margin-bottom: 1.3em;
    padding-top: 1em;
}

.content p{
    text-indent: 2em;
    text-align: justify;
    padding: 2%;
}
.content-ul{
    margin-left: 3em;
    padding: 2%;
}
.content-ul>li{
    margin-bottom: .5em;
}
span.review {
    color: #8c8c8c;
	font-size: .85em;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	padding: .7em;
    display: block;
    background-color: #ddd;
    margin-top: 4em;

}
.review-content {
    color: #444;
	font-size: .75em;
    margin:0 15%;
    padding: 0.5em 1em 3em 1em;
    text-align: justify;
    box-sizing: border-box;
    min-height: 100%;

}
.wrapper{
    position: relative;
    min-height: 100%
}

.form-h1{
    margin-bottom: .4em;
    margin-top: .6em;
    text-align: center;
    font-size: 1.7em;
    font-weight: 700;

}
hr {
    height: 2px;
    border: 0;
    box-shadow: 0px 2px 2px -2px #aaa inset;
}

.form-p{
    margin-top: .7em;
    margin-bottom: 2em;
    text-align: center;
    text-transform:uppercase;
}

form {
    min-height: 100%;
    padding-bottom: 4em;
}
form label{
    display:inline-block;
    text-indent: .7em;
    margin: .2em 0;
}

.radio li {
    display: inline;
    margin-right:.5em;
    margin-left: .5em;
}

form input[type=text]:valid{
    border: 1px solid #3b3;
    border-radius: 3px;
    background: #fff;
    outline: none;
    height: 1.5em;
    width: 99%;
    font-family: Tahoma;
    padding: .2em 0;
    margin: .3em 0;
    text-indent: 1em;
}

form input[type=text]:invalid{
    border: 1px solid #b33;
    border-radius: 3px;
    background: #fff;
    outline: none;
    height: 1.5em;
    width: 99%;
    font-family: Tahoma;
    padding: .2em 0;
    margin: .3em 0;
    text-indent: 1em;
}
form input[type=text]:placeholder-shown{
    border: 1px solid #ccc;
    border-radius: 3px;
    background: #fff;
    outline: none;
    height: 1.5em;
    width: 99%;
    font-family: Tahoma;
    padding: .2em 0;
    margin: .3em 0;
    text-indent: 1em;
}
form input[type=tel]:valid{
    border: 1px solid #3b3;
    border-radius: 3px;
    background: #fff;
    outline: none;
    height: 1.5em;
    width: 99%;
    font-family: Tahoma;
    padding: .2em 0;
    margin: .3em 0;
    text-indent: 1em;
}
form input[type=tel]:invalid{
    border: 1px solid #b33;
    border-radius: 3px;
    background: #fff;
    outline: none;
    height: 1.5em;
    width: 99%;
    font-family: Tahoma;
    padding: .2em 0;
    margin: .3em 0;
    text-indent: 1em;
}
form input[type=tel]:placeholder-shown{
    border: 1px solid #ccc;
    border-radius: 3px;
    background: #fff;
    outline: none;
    height: 1.5em;
    width: 99%;
    font-family: Tahoma;
    padding: .2em 0;
    margin: .3em 0;
    text-indent: 1em;
}

form ul li label{
    background: #f8f8f8;
    outline: none;

}
form textarea{
    border: .1em solid #3b3;
    border-radius: 3px;
    background: #fff;
    outline: none;
    height: 10em;
    width: 99%;
    font-family: Tahoma;
    padding: .2em 0;
    margin: .3em 0;
    text-indent: 1em;
    resize:none;
}
form textarea:invalid{
    border: .1em solid #b33;
    border-radius: 3px;
    background: #fff;
    outline: none;
    height: 10em;
    width: 99%;
    font-family: Tahoma;
    padding: .2em 0;
    margin: .3em 0;
    text-indent: 1em;
    resize:none;
}
form textarea:placeholder-shown{
    border: .1em solid #ccc;
    border-radius: 3px;
    background: #fff;
    outline: none;
    height: 10em;
    width: 99%;
    font-family: Tahoma;
    padding: .2em 0;
    margin: .3em 0;
    text-indent: 1em;
    resize:none;
}
form select{
    border: .1em solid #3b3;
    border-radius: 3px;
    background: #fff;
    outline: none;
    height: 1.9em;
    width: 99%;
    font-family: Tahoma;
    padding: .2em 0;
    margin: .3em 0;
    text-indent: .5em;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance:none;
    background-image: url(/static/img/select-arrow-open2.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
}
form select option{
    text-indent: 2em;
}
form button {
  font-weight: 700;
  color: white;
  text-decoration: none;
  padding: .8em 1em; #calc(.8em + 3px);
  border-radius: 3px;
  background: rgb(64,199,129);
  box-shadow: 0 -3px rgb(53,167,110) inset, 2px 2px rgb(200,200,200);
  transition: 0.2s;
  cursor: pointer;
}
form button:hover { background: rgb(53, 167, 110); }
form button:active {
  background: rgb(33,147,90);
  box-shadow: 0 3px rgb(33,147,90) inset;
}


nav ul li a::-moz-focus-inner,button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner, select::-moz-focus-inner, select{
border: none;
outline: none;
}
input[type="radio"]:-moz-focusring,
select:-moz-focusring {
  color:transparent;
  text-shadow:0 0 0 #000;
}
select:-moz-focusring * {
  color:#222; /* your normal text color here */
  text-shadow:none;
}

div.footer {
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1em;
    border-top: 1px solid #666;
}
.footer p{
    background-color: #222;
    height:1em;
    text-align: right;
    padding: 1em;
    color: #777;
    font-size: .8em;

}
.logo {
  position:absolute;
  background-image: url(/static/img/wci_logo.png);
  background-color: transparent;
  top: 3em;
  left: 4em;
  width: 180px;
  height: 113px;
  background-size: contain;
  background-repeat: no-repeat;
}
/*
.fa {
  display: none;
}
*/

@media only screen and (max-width: 480px) {
  *{
    font-size: .96em;
  }
  .banner {
    display: none;
  } 
  nav ul {
    margin-left: 0;
    padding: 0;
  }
  nav>ul>li, .header {
    display: none;
    margin: 0;
  }
  form.menu_search {
    margin: 0em -7px -2em 4.3em;
    position: absolute;
    top: 1.5em;
    left: -2em;
    border-color: #555;
  }
  form {
    min-height: 0;
    padding-bottom: 0;
    background-color: #555;

  }
  form p{
    background-color: #555;
    margin-left: 5em;
    
  }
/*
  form:before{
    content: "";
        background-image: url(/static/img/select-arrow-open2.png);
    width: 60px;
    
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
}
*/
  
  form.menu_search input[type="submit"]{
    border: 2px solid #8c8c8c;
    border-radius: 10px;
    background: #fff;
    outline: none;
    width: 5em;
    height: 1.5em;
    box-shadow: 0 0;    
  }
  .fa{
    color: #929292;
    width: 480px;
    display: block;
    background-color: #555;
    height: 25px;
    text-align: right;
    padding: 1em;
/*    font-size: .8em;*/
  }  
  .fa p{
color: #929292;
width: 80px;
display: block;
background-color: #555;
text-align: right;
font-size: .8em;
height: 46px;
float: right;
margin: 0;
padding: 0;
position: relative;
top: -15px;
right: -15px;
  }
 .fa p:before{
    content: "\f0c9";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    font-size: 18px;
    padding-right: 0.5em;
    position: absolute;
    top: 1em;
    left: 39%;
  } 
  .fa p:hover{
    color:#d33939;
    cursor: pointer;
  }

  .logo {
  position:absolute;
  background-image: url(/static/img/wci_logo.png);
  background-color: transparent;
  top: .8em;
  left: 1em;
  width: 50px;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 1;
}
form.menu_search input[type=search]{
    width: 11em;
    border-radius: 10px;
    text-indent: .6em;
    padding-right: .6em;

}
  h1 {
    margin-top: 0;
    text-indent: 0;
  }
  ul li a:hover {
    color: #d33939;
  }  
  nav ul li .active {
    color: #d33939;
  }
  nav ul li a::after{
    background-color: #d33939;
  }
}