{% extends 'mainapp_en/base0.html' %}
{% load staticfiles %}

{% block title %}
  {{title}}
{% endblock %}
{% block css %}
  <link rel="stylesheet" href="{% static "css/main.css" %}">
  <link rel="stylesheet" href="{% static "css/twosides.css" %}">
{% endblock %}
{% block content %}
<article class="content">
  <h1 class="heading">{{home_en.h1}}</h1>
  <p class="content-inner">{{home_en.paragraph1}}</p>
  <p class="content-inner">{{home_en.paragraph2}}</p>
  <p class="content-inner">{{home_en.paragraph3}}</p>
  <p class="content-inner">{{home_en.paragraph4}}</p>
</article>
  <div class="request-info">
    Запросить дополнительную информацию
  </div>
{% endblock %}
